@import "./header.css";
@import "./footer.css";


*{
  box-sizing: border-box;
  background-color: #F0EAE2;
  margin: 0;
  font-family: "微軟正黑體";
}

main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
}

div.banner{
  width: 100%;
  max-height: 260px;
  font-size: 0;
  overflow: hidden;
  margin-bottom: 30px;
}

div.banner img{
  width: 100%;
  font-size: 0;
}


div.title{
  /* border: 1px solid green; */
  display: flex;
  margin-top: 30px;
  margin: auto;
  width: 800px;
  font-size: 20px;
  color: #3D3027;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.title{
    width: 600px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  div.title{
    width: 500px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px){
  div.title{
    max-width: 400px;
    margin-bottom: 30px;
  }
}

div.best_border{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

div.best_list{
  /* border: 1px solid blue; */
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.best_list{
    width: 600px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  div.best_list{
    width: 500px;
  }
}

@media screen and (max-width: 576px){
  div.best_list{
    width: 400px;
  }
}

div.best_word1, div.best_word2, div.best_word3, div.best_word4, div.best_word5{
  /* border: 1px solid green; */
  max-width: 400px;
  color: #3D3027;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

div.best_list h2{
  margin-right: 10px;
  margin-bottom: 20px;
}


div.best_word > a{
  /* border: 1px solid green; */
  background-color: #3D3027;
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin-top: 10px;
  padding: 3px 10px;
}



div.best_pic1, div.best_pic2, div.best_pic3, div.best_pic4, div.best_pic5{
  /* border: 1px solid purple; */
  max-width: 400px;
  font-size: 0;
}

div.best_list img{
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.best_word1, div.best_word2, div.best_word3, div.best_word4, div.best_word5{
    min-width: 300px;
    max-width: 0;
  }  
  
  div.best_pic1, div.best_pic2, div.best_pic3, div.best_pic4, div.best_pic5{
    min-width: 300px;
    max-width: 0;

  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  div.best_word1, div.best_word2, div.best_word3, div.best_word4, div.best_word5{
    min-width: 250px;
    max-width: 0;
    font-size: 0.8rem;
  }  
  
  div.best_pic1, div.best_pic2, div.best_pic3, div.best_pic4, div.best_pic5{
    min-width: 250px;
    max-width: 0;
  }

}

@media screen and (max-width: 576px){
  div.best_word1, div.best_word2, div.best_word3, div.best_word4, div.best_word5{
    min-width: 200px;
    max-width: 0;
    font-size: 0.7rem;
  }  
  
  div.best_pic1, div.best_pic2, div.best_pic3, div.best_pic4, div.best_pic5{
    min-width: 200px;
    max-width: 0;
  }
}