@import "./header.css";
@import "./footer.css";


*{
  box-sizing: border-box;
  background-color: #F0EAE2;
  margin: 0;
  font-family: "微軟正黑體";
}

main{
  /* border: 1px solid black; */
  width: 1200px;
  margin: 0 auto;
}

div.banner{
  max-width: 100%;
  min-width: 1200px;
  height: 260px;
  font-size: 0;
  overflow: hidden;
  margin-bottom: 30px;
}

div.banner img{
  width: 100%;
  font-size: 0;
}


div.title{
  /* border: 1px solid green; */
  display: inline-flex;
  margin: 30px 0 0 200px;
  font-size: 20px;
  color: #3D3027;
}

div.best_border{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

div.best_list{
  /* border: 1px solid blue; */
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.best_word1, div.best_word2, div.best_word3, div.best_word4, div.best_word5{
  /* border: 1px solid green; */
  width: 400px;
  color: #3D3027;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: center; */
  align-items: center;
}

div.best_list h2{
  margin-right: 10px;
  margin-bottom: 20px;
}


div.best_word > a{
  /* border: 1px solid green; */
  background-color: #3D3027;
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin-top: 10px;
  padding: 3px 10px;
}



div.best_pic1, div.best_pic2, div.best_pic3, div.best_pic4, div.best_pic5{
  /* border: 1px solid purple; */
  width: 400px;
  font-size: 0;
}

div.best_list img{
  width: 100%;
}

