@import "./header.css";
@import "./footer.css";


*{
  box-sizing: border-box;
  background-color: #F0EAE2;
  margin: 0;
  font-family: "微軟正黑體";
}

main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
}

div.title{
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #3D3027;
  font-size: 20px;
  display: flex;
  max-width: 600px;
}


div.form_border{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

div.form{
  /* border: 1px solid green; */
  width: 600px;
  color: #3D3027;
}


div.write input{
  border: 1px solid #3D3027;
  margin-bottom: 20px;
}

div.write textarea{
  border: 1px solid #3D3027;
}

div.write button{
  border: 1px solid #3D3027;
  background-color: #3D3027;
  color: white;
  margin-top: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

