footer{
  width: 100%;
  font-family: "微軟正黑體";
}

div.footer_border{
  border: 1px solid #3D3027;
  background-color: #3D3027;
  display: flex;
  font-size: 0;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

ul.footer_list{
  /* border: 1px solid red; */
  background-color: #3D3027;
  font-size: 1rem;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

ul.footer_list li{
  list-style: none;
  background-color: #3D3027;
  margin-left: 30px;
}

@media screen and (max-width: 768px){
  ul.footer_list li{
    margin-left: 0;
    margin-right: 10px;
  }
}


ul.footer_list ul{
  font-size: 14px;
  background-color: #3D3027;
  padding: 0;
}

ul.footer_list ul > li{
  padding: 5px 0;
}

ul.footer_list li > a{
  background-color: #3D3027;
}

ul.footer_list li > a:hover{
  color: #b2966b;
}

ul.footer_list li > p{
  font-weight: 700;
  margin: 20px 0;
  margin-left: 30px;
  background-color: #3D3027;
  font-size: 14px;
}

@media screen and (max-width: 768px){
  ul.footer_list li > p{
    margin-left: 0;
  }
}

div.follow_us{
  border-left: 2px solid white;
  background-color: #3D3027;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

@media screen and (max-width: 768px){
  div.follow_us{
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

div.follow_us li{
  border: 1px solid #3D3027;
  border-radius: 10px;
  list-style: none;
  display: inline-flex;
  overflow: hidden;
}

div.follow_us ul{
  padding: 0;
  background-color: #3D3027;
}

div.follow_us > p{
  font-weight: 700;
  margin: 15px 0;
  background-color: #3D3027;
}

p.hashtag{
  font-size: 10px;
}

ul.footer_list p, ul.footer_list a, div.follow_us p, div.follow_us a{
  color: white;
  text-decoration: none;
}

div.follow_us li > a{
  background-color: #3D3027;
  font-size: 0;
}

div.text_footer{
  border: 1px solid #3D3027;
  background-color: #3D3027;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

div.text_footer p, div.text_footer p > a{
  background-color: #3D3027;
  color: white;
}