header {
  padding: 30px 0 15px 0;
  /* border: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
}

div.menu_header {
  border-bottom: 2px solid #3D3027;
  display: flex;
  height: 35px;
  width: 1200px;
  justify-content: space-between;
}

div.logo {
  width: 150px;
  font-size: 0;
  overflow: hidden;
}

div.logo a>img {
  width: 100%;
}

div.menu_header ul {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  width: 700px;
}

div.menu_header ul>li>a {
  text-decoration: none;
  color: #3D3027;
  font-weight: 700;
}

div.menu_header ul>li>a:hover {
  color: #b2966b;
}

div.user_list {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  position: relative;
}

div.user_list > a {
  /* border: 1px solid blue; */
  text-decoration: none;
  margin-right: 10px;
  font-size: 0;
  display: block;
}

div.user_list a>img {
  width: 80%;
}



#buy_list {
  width: 100px;
}

p.list_item_name {
  font-size: 10px;
  width: 100px;
  text-align: center;
}

p.list_item_count {
  width: 50px;
  text-align: center;
}



div.cart_list {
  border: 1px solid #3D3027;
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  display: none;
  font-size: 16px;
  z-index: 1;
}

div.cart_list div {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

div.cart_list > tr :first-child{
  border: 1px solid red;
}

a.go_buy {
  /* border: 1px solid #3D3027; */
  background-color: #3D3027;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  padding: 3px 15px;
  font-size: 1rem;
  font-weight: 700;
}

div.cart_hover{
  display: inline-block;
  /* border: 1px solid red; */
  position: relative;
}
div.cart_hover:hover div.cart_list {
  display: block;
}