@import "./header.css";
@import "./footer.css";

*{
  box-sizing: border-box;
  background-color: #F0EAE2;
  margin: 0;
  font-family: "微軟正黑體";
}

main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
}

div.single-item{
  /* border: 1px solid red; */
  width: 100%;
  font-size: 0;
}

div.single_img > img{
  width: 100%;
}

div.aboutus{
  /* border: 1px solid purple; */
  display: flex;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 100%;
  max-height: 500px;
  min-height: 300px;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.aboutus{
    margin-bottom: 100px;
    position: static;
  }
}

@media screen and (max-width: 768px){
  div.aboutus{
    margin-bottom: 50px;
    position: static;
  }
}


div.aboutus_pic{
    /* border: 1px solid red; */
    max-width: 500px;
    font-size: 0;
    margin-left: 150px;
    display: flex;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.aboutus_pic{
    max-width: 400px;
    margin-left: 0;
  }
}
  
@media screen and (min-width: 576px) and (max-width: 768px){
  div.aboutus_pic{
    max-width: 300px;
    margin-left: 0;
  }
}

@media screen and (max-width: 576px){
  div.aboutus_pic{
    max-width: 218px;
    max-height: 218px;
    margin-left: 0;
  }
}

div.aboutus_pic img{
  width: 100%;
  z-index: 1;
}



div.aboutus_talk{
  background-color: #3d3027;
  min-height: 300px;
  max-width: 700px;
  padding-left: 350px;
  padding-right: 20px;
  position: absolute;
  left: 350px;
  bottom: -50px;
}

div.aboutus_talk h3{
  /* border: 1px solid red; */
  font-size: 1rem;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #3D3027;
  color: white;
}

div.aboutus_talk p{
  background-color: #3D3027;
  color: white;
  font-size: 1rem;
}


@media screen and (min-width: 768px) and (max-width: 992px){
  div.aboutus_talk{
    padding-left: 20px;
    padding-right: 20px;
    position: static;
  }
  
  div.aboutus_talk h3{
    padding-top: 100px;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 768px){
  div.aboutus_talk{
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    position: static;
  }
  
  div.aboutus_talk h3{
    padding-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  div.aboutus_talk{
    vertical-align: middle;
    min-width: 180px;
    max-height: 218px;
    min-height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    position: static;
  }
  
  div.aboutus_talk h3{
    padding-top: 10px;
    font-size: 0.5rem;
  }

  div.aboutus_talk p{
    font-size: 0.5rem;
  }
}




div.pushitem{
  /* border: 1px solid red; */
  margin-bottom: 400px;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.pushitem{
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 768px){
  div.pushitem{
    margin-bottom: 100px;
  }
}



div.pushitem_last_border{
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}

ul.pushitem_last{
  background-color: #3D3027;
  display: inline-flex;
  list-style: none;
  width: 600px;
  height: 40px;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 576px) {
  ul.pushitem_last{
  width: 400px;
  font-size: 0.7rem;
  }
}

ul.pushitem_last li{
  background-color: #3D3027;
}

ul.pushitem_last li:first-child{
  border-bottom: 2px solid white;
  font-weight: 700;
  background-color: #3D3027;
}

ul.pushitem_last a{
  text-decoration: none;
  background-color: #3D3027;
  color: white;
  padding: 0px 10px 0 10px;
}

ul.pushitem_last a:hover{
  font-weight: 700;
  border-bottom: 2px solid white;
  padding: 0px 10px 0 10px;
}

ul.pushitem_pic{
  /* border: 1px solid blue; */
  padding: 20px 80px 20px 80px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

ul.pushitem_pic li{
  /* border: 1px solid black; */
  width: 180px;
}

ul.pushitem_pic a > img{
  width: 100%;
}

ul.pushitem_pic li > a{
  text-decoration: none;
  text-align: center;
  color: #3D3027;
}

ul.pushitem_pic li > a:hover{
  color: #b2966b;
}

@media screen and (max-width: 768px){
  ul.pushitem_pic{
    /* border: 1px solid blue; */
    padding: 20px 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  ul.pushitem_pic li{
    /* border: 1px solid black; */
    width: 150px;
    margin-bottom: 20px;
  }
}



div.ceremony{
  /* border: 1px solid purple; */
  display: flex;
  margin-bottom: 150px;
  position: relative;
}

div.ceremony_pic{
  /* border: 1px solid red; */
  max-width: 500px;
  font-size: 0;
  position: absolute;
  bottom: 50px;
  left: 550px;
}

div.ceremony_pic img{
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.ceremony{
    position: static;
    margin-bottom: 100px;
  }
  
  div.ceremony_pic{
    min-width: 400px;
    position: static;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  div.ceremony{
    position: static;
    margin-bottom: 50px;
  }
  
  div.ceremony_pic{
    min-width: 300px;
    position: static;
  }
}

@media screen and (max-width: 576px) {
  div.ceremony{
    position: static;
    margin-bottom: 50px;
  }
  
  div.ceremony_pic{
    min-width: 160px;
    position: static;  }
}

div.ceremony_talk{
  /* border: 1px solid blue; */
  background-color: #3D3027;
  max-width: 700px;
  min-height: 300px;
  padding-right: 350px;
  padding-left: 20px;
  margin-left: 150px;
}


div.ceremony_talk h3{
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #3D3027;
  color: white;
}

div.ceremony_talk p{
  background-color: #3D3027;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.ceremony_talk{
    min-height: 300px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0px;
  }
  
  
  div.ceremony_talk h3{
    padding-top: 100px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  div.ceremony_talk{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0px;
    font-size: 0.9rem;
  }
  
  
  div.ceremony_talk h3{
    padding-top: 50px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px){
  div.ceremony_talk{
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0px;
    min-width: 180px;
    min-height: 200px;
    font-size: 0.5rem;
  }

  div.ceremony_talk p{
    font-size: 0.5rem;
    overflow-y: auto;
  }
  
  div.ceremony_talk h3{
    padding-top: 10px;
    font-size: 0.5rem;
  }
}



div.ceremony_border{
  /* border: 1px solid red; */
  font-size: 0;
  margin-bottom: 150px;
}


@media screen and (min-width: 768px) and (max-width: 992px){
  div.ceremony_border{
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px){
  div.ceremony_border{
    margin-bottom: 50px;
  }
}



div.ceremony_step{
  /* border: 1px solid blue; */
  max-width: 700px;
  margin: 0 auto;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.ceremony_step1, div.ceremony_step2, div.ceremony_step3{
  /* border: 1px solid purple; */
  max-width: 300px;
  font-size: 1rem;
  color: #3D3027;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px){
  div.ceremony_step2{
    margin-left: 10px;
  }
}

div.step a{
  background-color: #3D3027;
  margin-top: 20px;
  padding: 3px 10px;
  color: white;
  text-decoration: none;
}

div.ceremony_step1_pic, div.ceremony_step2_pic, div.ceremony_step3_pic{
  /* border: 1px solid green; */
  max-width: 300px;
  font-size: 0;
  margin-bottom: 50px;
}

div.ceremony_step1_pic > img, div.ceremony_step2_pic > img, div.ceremony_step3_pic > img{
  width: 100%;
}

div.ceremony_step1, div.ceremony_step2_pic, div.ceremony_step3{
  margin-right: 30px;
}

div.ceremony_step1 h2, div.ceremony_step2 h2, div.ceremony_step3 h2{
  font-size: 50px;
}

div.ceremony_step1 span, div.ceremony_step2 span, div.ceremony_step3 span{
  font-size: 21px;
  display: block;
  margin-bottom: 20px;
  color: #b2966b;
}

@media screen and (min-width: 576px) and (max-width: 768px){  
  div.ceremony_step1, div.ceremony_step2, div.ceremony_step3{
    max-width: 270px;
  }
  
  div.step a{
    margin-top: 20px;
  }
  
  div.ceremony_step1_pic, div.ceremony_step2_pic, div.ceremony_step3_pic{
    max-width: 270px;
  }

  div.ceremony_step1, div.ceremony_step2_pic, div.ceremony_step3{
    margin-right: 0;
  }

}

@media screen and (max-width: 576px){
  @media screen and (max-width: 768px){  
    div.ceremony_step1, div.ceremony_step2, div.ceremony_step3{
      max-width: 180px;
      font-size: 0.8rem;
    }
  
    div.ceremony_step1 h2, div.ceremony_step2 h2, div.ceremony_step3 h2{
      font-size: 35px;
    }
  
    div.ceremony_step1 span, div.ceremony_step2 span, div.ceremony_step3 span{
      font-size: 18px;
    }
    
    div.step a{
      margin-top: 20px;
    }
    
    div.ceremony_step1_pic, div.ceremony_step2_pic, div.ceremony_step3_pic{
      max-width: 200px;
    }
  
    div.ceremony_step1, div.ceremony_step2_pic, div.ceremony_step3{
      margin-right: 5px;
    }
  
  }
}



div.insta{
  /* border: 1px solid black; */
  font-size: 0;
}

div.insta_word{
  /* border: 1px solid blue; */
  font-size: 20px;
  display: block;
  text-align: center;
  color: #3D3027;
  font-weight: 700;
}

div.insta_pic_pose{
  /* border: 1px solid red; */
  width: 100%;
  padding: 50px 200px 130px 200px;
  display: grid;
  gap: 10px 10px;

  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto;
  grid: "pic1 pic1 pic2 pic3" "pic1 pic1 pic4 pic5" 
  "pic7 pic8 pic6 pic6" "pic9 pic10 pic6 pic6"
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.insta_pic_pose{
    padding: 50px 100px 130px 100px;
  }
}

@media screen and (max-width: 768px){
  div.insta_pic_pose{
    padding: 50px 50px 130px 50px;
  }
}

div.insta_pic_pose img{
  /* border: 1px solid green; */
  width: 100%;
}

a.insta_pic_1{
  grid-area: pic1;
}

a.insta_pic_2{
  grid-area: pic2;
}

a.insta_pic_3{
  grid-area: pic3;
}

a.insta_pic_4{
  grid-area: pic4;
}

a.insta_pic_5{
  grid-area: pic5;
}

a.insta_pic_6{
  grid-area: pic6;
}

a.insta_pic_7{
  grid-area: pic7;
}

a.insta_pic_8{
  grid-area: pic8;
}

a.insta_pic_9{
  grid-area: pic9;
}

a.insta_pic_10{
  grid-area: pic10;
}