@import "./header.css";
@import "./footer.css";

*{
  box-sizing: border-box;
  background-color: #F0EAE2;
  margin: 0;
  font-family: "微軟正黑體";
}

main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
}

div.banner{
  width: 100%;
  max-height: 260px;
  font-size: 0;
  overflow: hidden;
  margin-bottom: 30px;
}

div.banner img{
  width: 100%;
  font-size: 0;
}

div.title{
  /* border: 1px solid green; */
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  color: #3D3027;
}


div.news_border{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

ul.news_list{
  /* border: 1px solid blue; */
  width: 500px;
  list-style: none;
  padding: 0;
}

ul.news_list li{
  /* border: 1px solid black; */
  font-size: 0;
  margin-bottom: 20px;
}


ul.news_list pre{
  /* border: 1px solid red; */
  font-size: 1rem;
  cursor: pointer;
}

ul.news_list pre:hover{
  color: #b2966b;
}


div.news_pic{
  width: 400px;
  font-size: 0;
}

div.news_pic img{
  width: 100%;
}

#trans{
  width: 100%;
  height: 100%;
  opacity: 1;
}

#out{
  /* border: 1px solid red; */
  position: relative;
  width: 100%;
  height: 100%;
}

div.news_item{
  border: 2px solid #3D3027;
  width: 500px;
  height: 550px;
  position: absolute;
  transform: translate(75%, -175%);
  padding: 50px;
  display: none;
  z-index: 1;
}

div.together > p, div.news_item > p:nth-child(2){
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-flex;
}

div.together{
  display: flex;
}

div.close{
  /* border: 1px solid red; */
  display: inline-flex;
  height: 16px;
  margin-left: 280px;
  cursor: pointer;
}

div.item_img{
  /* border: 1px solid; */
  width: 400px;
  margin-top: 30px;
}

div.item_img > img{
  width: 100%;  
}

@media screen and (min-width: 768px) and (max-width: 992px){
  div.banner{
    height: 100%;
  }
  
  div.news_border{
    margin-bottom: 120px;
  }
  
  div.news_item{
    transform: translate(50%, -175%);
  }
  
}

@media screen and (max-width: 768px){
  div.banner{
    height: 100%;
  }

  div.title{
    max-width: 400px;
  }
  
  div.news_border{
    margin-bottom: 100px;
    flex-wrap: wrap;
  }

  ul.news_list{
    width: 400px;
  }

  div.news_item{
    transform: translate(25%, -175%);
  }

}

@media screen and (max-width: 650px){
  div.news_item{
    border: 2px solid #3D3027;
    width: 450px;
    height: 550px;
    position: absolute;
    transform: translate(3%, -175%);
    padding: 30px;
    display: none;
    z-index: 1;
  }
}