@import "./header.css";
@import "./footer.css";


*{
  box-sizing: border-box;
  background-color: #F0EAE2;
  margin: 0;
  font-family: "微軟正黑體";
}

main{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
}

div.title{
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #3D3027;
  font-size: 20px;
  display: flex;
  max-width: 800px;
}

div.border{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}

ul.QA_list{
  border-top: 1px solid #3D3027;
  border-right: 1px solid #3D3027;
  border-left: 1px solid #3D3027;
  width: 800px;
  list-style: none;
  padding: 0;
}

li.Q{
  border-bottom: 1px solid #3D3027;
  display: flex;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
}

div.add{
  margin-left: auto;
}

li.A{
  border-bottom: 1px solid #3D3027;
  padding: 30px;
  display: none;
}

@media screen and (max-width: 768px){
  li.A{
    padding: 30px;
  }
  
}

li.A > p{
  padding-bottom: 5px;
}

li.A > img{
  width: 100%;
}